@model GeekShopping.Web.Models.CartViewModel

@if (Model != null && Model?.CartDetails?.Count() > 0)
{
    <form method="post">
        @Html.HiddenFor(x => x.CartHeader.UserId)
        @Html.HiddenFor(x => x.CartHeader.Id)
        @Html.HiddenFor(x => x.CartHeader.CouponCode)
        @Html.HiddenFor(x => x.CartHeader.DiscountTotal)
        @Html.HiddenFor(x => x.CartHeader.PurchaseAmount)

        <div>
            <span style="font-size:25px;">
                Enter details and place order
            </span>
            <br/>
        </div>
        <div class="border mt-2">
            <div class="container row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">First Name</label>
                            <input asp-for="CartHeader.FirstName" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Last Name</label>
                            <input asp-for="CartHeader.LastName" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Email</label>
                            <input asp-for="CartHeader.Email" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Phone Number</label>
                            <input asp-for="CartHeader.Phone" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Card Number</label>
                            <input asp-for="CartHeader.CardNumber" class="form-control"/>
                        </div>
                        <div class="col-12">
                        <label class="col-form-label">CVV</label>
                            <input asp-for="CartHeader.CVV" class="form-control"/>
                        </div>
                        <div class="col-12">
                        <label class="col-form-label">Expiry</label>
                            <input asp-for="CartHeader.ExpiryMonthYear" class="form-control pb-4" placeholder="dd-mm-yyyy"/>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-5">
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="d-none">
                                <div class="d-lg-block">
                                    <div class="row text-danger">
                                        <div class="col-6">
                                            Product Details
                                        </div>
                                        <div class="col-3">
                                            Price
                                        </div>
                                        <div class="col-3">
                                            Count
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            @foreach(var item in Model.CartDetails)
                            {
                                <div class="row h-100">
                                    <div class="col-6">
                                        <span  style="font-size:20px;">
                                          @item.Product.Name
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <span style="font-size:11px;">
                                         @item.Product.Price.ToString("c")
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <span style="font-size:11px;">
                                         @item.Count
                                        </span>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-12 text-right pr-4 text-danger">
                                    Purchase Amount: @Model.CartHeader.PurchaseAmount.ToString("c")
                                </div>
                                @if (Model.CartHeader.DiscountTotal > 0)
                                {
                                    <span class="text-success">
                                        Discount Amount: @Model.CartHeader.DiscountTotal.ToString("c")
                                        <br/>
                                    </span>
                                }
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success form-control">
                                        <span>Place order</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </form>
}